<div class="container">
  <br>
  <h1 class="title">Star Ships</h1>
  <div class="columns is-flex-direction-row is-flex-wrap-wrap">
    <div *ngFor="let ship of starships" class="column is-one-quarter">
      <div  class="card ">
        <div class="card-image">
          <figure class="image">
            <a [routerLink]="['/starships/', ship.starShipId]"><img alt="character" src="assets/images/{{ship.imagePath}}" height="800" width="500"> </a>
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
            </div>
            <div class="media-content">
              <h1 class="title is-3">{{ship.name}}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
