<br>
<div class="container">
<h1 class="title">Planets</h1>

<br>
<div class="container">

<div class="columns is-flex-direction-row is-flex-wrap-wrap">
  <div *ngFor="let world of homeWorlds" class="column is-one-quarter">
    <div  class="card ">
      <div class="card-image">
        <figure class="image">
          <a [routerLink]="['/homeworlds/', world.homeWorldId]"><img alt="character" src="assets/images/{{world.imagePath}}" height="500" width="300"> </a>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
          </div>
          <div class="media-content">
            <h1 class="title is-3">{{world.name}}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>