<br>
<h1 class="title is-1">Welcome</h1>
<h1 class="title is-3">Please select a category</h1>
<div class="container is-flex is-justify-content-space-between">
  <div class="card">
    <div class="card-image">
      <img src="/assets/images/darthvader.jpg" height="500" width="300">
    </div>
    <div class="card-content">
      <h1 class="title is-3">Characters</h1>
    </div>
  </div>
  <div class="card">
    <div class="card-image is-4by3">
      <img src="/assets/images/mustafar.jpg" height="1000" width="300">
    </div>
    <div class="card-content">
      <h1 class="title is-3">Planets</h1>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <img src="/assets/images/executor.jpg" height="500" width="300">
    </div>
    <div class="card-content">
      <h1 class="title is-3">Starships</h1>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <img src="/assets/images/episode2.jpg" height="500" width="300">
    </div>
    <div class="card-content">
      <h1 class="title is-3">Films</h1>
    </div>
  </div>
</div>



