<br>
<div class="container">
<h1 class="title">Characters</h1>

<table class="table">
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Image
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let character of characters">
      <td>{{character.fullName}}</td>
      <td><img alt="character" src="assets/images/{{character.imagePath}}"></td>
      <td>
        <a [routerLink]="['/characters/', character.characterId]">View</a>
      </td>
    </tr>
  </tbody>
</table>
</div>
